<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.djma.mapper.ReplyMapper">
    <resultMap id="ReplyMap" type="Reply">
        <id property="id" column="reply_id"/>
        <result property="content" column="reply_content"/>
        <result property="datetime" column="reply_datetime"/>
        <result property="userId" column="reply_user_id"/>
        <result property="messageId" column="reply_message_id"/>
    </resultMap>

    <insert id="addReply" parameterType="Reply">
        insert into reply(content, datetime, user_id, message_id)
        values(#{content}, #{datetime}, #{userId}, #{messageId})
    </insert>
</mapper>